<h2 class="PageTitle">Video Gallery</h2>
<div class=" videoThumbnailGrid">
  <div class="row">

    <% @video_info_index.each do |video| %>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-block">
              <img src='<%= video['thumbnail'] %>' class="img-responsive">
              <p class="card-text videoTitle"><%= video['title'] %></p>
              <a><%= link_to 'Watch', video_path(video['id']), :class => "btn btn-primary" %></a>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

