@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  font-family: Palatino;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }

  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.loginUserName{
  color: #ffffff;
  margin-top: 15px;
}


/* Video Index Thumbnail CSS * /

 */


.img-responsive{
  height: 250px;
  width: 450px;
  margin-top: 30px;
}

.PageTitle{
  text-align: center;
}

.videoThumbnailGrid{
  margin-left: 70px;
}

.videoTitle{
  font-size: 18px;
  margin-top: 10px;
}

.loginBtn{
  margin-top: 20px;
}

.subscribeBtn{
  background: #B00100;
}

.videoTitleSubscribe{
  font-size: 18px;
  color: blue;
  margin-top: 110px;
}

.premium{
  color: #B00100;
}

.subscribeMsg{
  font-size: 24px;
  width: 500px;
}

.videoDesc{
  margin-top: 20px;
  font-size: 16px;
}

.userSubcribed{
  color: #B00100;
}

.reqSubTxt{
  color: #ff0000;
}
